body{
    background-color: #f1f1f1;
}
/* Navigation */
.nav-main{
    position: fixed;
    top: 0;
    width: 100px;
    height: 60px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
}

.btn-toggle-nav{
    width: 60px;
    height: 100%;
    background-color: #f98f39;
    background-image: url();
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    cursor: pointer;
}
.btn-toggle-nav:hover{
    opacity: 0.7;

}

.nav-main ul {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
}

.nav-main ul li {
    list-style: none; /* removes bullet points*/
    line-height: 60px; /* centers with nav btn */ 
}

.nav-main ul li a{
    height: 100%;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none; 
    color: #111;
    font-family: Arial;
    font-size: 16px;
    white-space: nowrap;
}

/* Sidebar Navigation */

